<% include ./partials/header %>
<h1 class="text-center text-info">Post Your Question</h1>
<div class="container jumbotron col-lg-6">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-6 pt-3 pb-3">
            <form action="/dashbord" method="POST">
                <div class="form-group">
                    <label for="txt_title">Title</label>
                    <input type="text" class="form-control" id="txt_title" name="title" aria-describedby="Title" placeholder="Enter Title">
                </div>        
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="5" id="description" name="description" placeholder="Enter Description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>